# Detecting Fake News

### Importing the relevant libraries

In [1]:
import numpy as np
import pandas as pd
import itertools
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
import re

### Loading the raw data

In [3]:
df=pd.read_csv('train.csv')
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [4]:
df.describe()

                 id         label
count  20800.000000  20800.000000
mean   10399.500000      0.500625
std     6004.587135      0.500012
min        0.000000      0.000000
25%     5199.750000      0.000000
50%    10399.500000      1.000000
75%    15599.250000      1.000000
max    20799.000000      1.000000

### Checking null  values

In [5]:
df.isnull()

          id  title  author   text  label
0      False  False   False  False  False
1      False  False   False  False  False
2      False  False   False  False  False
3      False  False   False  False  False
4      False  False   False  False  False
...      ...    ...     ...    ...    ...
20795  False  False   False  False  False
20796  False  False   False  False  False
20797  False  False   False  False  False
20798  False  False   False  False  False
20799  False  False   False  False  False

[20800 rows x 5 columns]

### Declare the inputs and the targets

In [6]:
df = df.drop([16921], axis=0)
features = df.iloc[:, 3].values
labels = df.iloc[:, 4].values

### Preprocessing the data

In [7]:
processed_features = []

for sentence in range(0, len(features)):
    # Remove all the special characters
    processed_feature = re.sub(r'\W', ' ', str(features[sentence]))

    # remove all single characters
    processed_feature= re.sub(r'\s+[a-zA-Z]\s+', ' ', processed_feature)

    # Remove single characters from the start
    processed_feature = re.sub(r'\^[a-zA-Z]\s+', ' ', processed_feature) 

    # Substituting multiple spaces with single space
    processed_feature = re.sub(r'\s+', ' ', processed_feature, flags=re.I)

    # Removing prefixed 'b'
    processed_feature = re.sub(r'^b\s+', '', processed_feature)

    # Converting to Lowercase
    processed_feature = processed_feature.lower()

    processed_features.append(processed_feature)

In [8]:
featur = pd.DataFrame(data=processed_features, columns=["texts"])
lab=pd.DataFrame(data=labels,columns=["labels"])

### Train Test Split

In [9]:
x_train,x_test,y_train,y_test=train_test_split(featur["texts"],lab["labels"],test_size=0.2,random_state=7)

### Initialize TfidfVectorizer and Fit the data

In [10]:
tf_v=TfidfVectorizer(max_features=2500,stop_words='english',max_df=0.7)
tf_train=tf_v.fit_transform(x_train)
tf_test=tf_v.transform(x_test)

### Passive Aggressive Classifier Model

In [11]:
pac=PassiveAggressiveClassifier(max_iter=50,verbose=1)
pac.fit(tf_train,y_train)
y_pred=pac.predict(tf_test)

-- Epoch 1
Norm: 48.38, NNZs: 2500, Bias: 1.055272, T: 16519, Avg. loss: 0.211314
Total training time: 0.01 seconds.
-- Epoch 2
Norm: 59.36, NNZs: 2500, Bias: 1.234261, T: 33038, Avg. loss: 0.118522
Total training time: 0.03 seconds.
-- Epoch 3
Norm: 67.63, NNZs: 2500, Bias: 1.443539, T: 49557, Avg. loss: 0.097333
Total training time: 0.04 seconds.
-- Epoch 4
Norm: 74.67, NNZs: 2500, Bias: 1.508001, T: 66076, Avg. loss: 0.087357
Total training time: 0.05 seconds.
-- Epoch 5
Norm: 80.71, NNZs: 2500, Bias: 1.641200, T: 82595, Avg. loss: 0.078786
Total training time: 0.06 seconds.
-- Epoch 6
Norm: 86.19, NNZs: 2500, Bias: 1.690173, T: 99114, Avg. loss: 0.071010
Total training time: 0.07 seconds.
-- Epoch 7
Norm: 91.25, NNZs: 2500, Bias: 1.749648, T: 115633, Avg. loss: 0.067028
Total training time: 0.08 seconds.
-- Epoch 8
Norm: 95.84, NNZs: 2500, Bias: 1.779323, T: 132152, Avg. loss: 0.062141
Total training time: 0.09 seconds.
-- Epoch 9
Norm: 99.96, NNZs: 2500, Bias: 1.925969, T: 148671, Avg. loss: 0.058889
Total training time: 0.10 seconds.
-- Epoch 10
Norm: 104.01, NNZs: 2500, Bias: 1.944004, T: 165190, Avg. loss: 0.055396
Total training time: 0.11 seconds.
-- Epoch 11
Norm: 107.70, NNZs: 2500, Bias: 1.963451, T: 181709, Avg. loss: 0.051980
Total training time: 0.12 seconds.
-- Epoch 12
Norm: 111.06, NNZs: 2500, Bias: 2.026923, T: 198228, Avg. loss: 0.049271
Total training time: 0.13 seconds.
-- Epoch 13
Norm: 114.37, NNZs: 2500, Bias: 2.111388, T: 214747, Avg. loss: 0.047737
Total training time: 0.15 seconds.
-- Epoch 14
Norm: 117.51, NNZs: 2500, Bias: 2.158113, T: 231266, Avg. loss: 0.044678
Total training time: 0.16 seconds.
-- Epoch 15
Norm: 120.63, NNZs: 2500, Bias: 2.158756, T: 247785, Avg. loss: 0.043281
Total training time: 0.17 seconds.
-- Epoch 16
Norm: 123.42, NNZs: 2500, Bias: 2.222263, T: 264304, Avg. loss: 0.041088
Total training time: 0.18 seconds.
-- Epoch 17
Norm: 126.09, NNZs: 2500, Bias: 2.271942, T: 280823, Avg. loss: 0.038943
Total training time: 0.19 seconds.
-- Epoch 18
Norm: 128.75, NNZs: 2500, Bias: 2.302478, T: 297342, Avg. loss: 0.037917
Total training time: 0.20 seconds.
-- Epoch 19
Norm: 131.28, NNZs: 2500, Bias: 2.373205, T: 313861, Avg. loss: 0.036835
Total training time: 0.21 seconds.
-- Epoch 20
Norm: 133.70, NNZs: 2500, Bias: 2.404525, T: 330380, Avg. loss: 0.035019
Total training time: 0.22 seconds.
-- Epoch 21
Norm: 136.09, NNZs: 2500, Bias: 2.399822, T: 346899, Avg. loss: 0.033095
Total training time: 0.23 seconds.
-- Epoch 22
Norm: 138.41, NNZs: 2500, Bias: 2.436915, T: 363418, Avg. loss: 0.033231
Total training time: 0.24 seconds.
-- Epoch 23
Norm: 140.60, NNZs: 2500, Bias: 2.505602, T: 379937, Avg. loss: 0.031910
Total training time: 0.25 seconds.
-- Epoch 24
Norm: 142.73, NNZs: 2500, Bias: 2.523696, T: 396456, Avg. loss: 0.030156
Total training time: 0.26 seconds.
-- Epoch 25
Norm: 144.78, NNZs: 2500, Bias: 2.564774, T: 412975, Avg. loss: 0.029503
Total training time: 0.27 seconds.
-- Epoch 26
Norm: 146.80, NNZs: 2500, Bias: 2.562246, T: 429494, Avg. loss: 0.028175
Total training time: 0.28 seconds.
-- Epoch 27
Norm: 148.69, NNZs: 2500, Bias: 2.633629, T: 446013, Avg. loss: 0.027828
Total training time: 0.29 seconds.
-- Epoch 28
Norm: 150.54, NNZs: 2500, Bias: 2.659473, T: 462532, Avg. loss: 0.026385
Total training time: 0.30 seconds.
-- Epoch 29
Norm: 152.32, NNZs: 2500, Bias: 2.723580, T: 479051, Avg. loss: 0.025986
Total training time: 0.31 seconds.
-- Epoch 30
Norm: 154.18, NNZs: 2500, Bias: 2.727651, T: 495570, Avg. loss: 0.025297
Total training time: 0.32 seconds.
-- Epoch 31
Norm: 155.95, NNZs: 2500, Bias: 2.696916, T: 512089, Avg. loss: 0.023905
Total training time: 0.33 seconds.
-- Epoch 32
Norm: 157.54, NNZs: 2500, Bias: 2.768976, T: 528608, Avg. loss: 0.023267
Total training time: 0.34 seconds.
-- Epoch 33
Norm: 159.16, NNZs: 2500, Bias: 2.792050, T: 545127, Avg. loss: 0.022553
Total training time: 0.35 seconds.
-- Epoch 34
Norm: 160.75, NNZs: 2500, Bias: 2.786785, T: 561646, Avg. loss: 0.021763
Total training time: 0.37 seconds.
-- Epoch 35
Norm: 162.26, NNZs: 2500, Bias: 2.815591, T: 578165, Avg. loss: 0.021188
Total training time: 0.38 seconds.
-- Epoch 36
Norm: 163.78, NNZs: 2500, Bias: 2.824544, T: 594684, Avg. loss: 0.020639
Total training time: 0.39 seconds.
Convergence after 36 epochs took 0.39 seconds

### Accuracy

In [12]:
score=accuracy_score(y_test,y_pred)
print(score)

0.9266826923076923

### Confusion Matrix

In [13]:
confusion_matrix(y_test,y_pred,labels=[1,0])

array([[1940,  151],
       [ 154, 1915]], dtype=int64)